
<% form_for(@disclosure) do |f| %>
  <%= f.error_messages %>


  <%= f.hidden_field :user_id, :value => session[:user_id] %>

  <table width="100%">
    <tr>
      <th width="100px">公開設定名称</th>
      <td><%= f.text_field :name %></td>
    </tr>
  </table>
  <p>
    <%= f.submit '作成' %>
  </p>
<% end %>
