@media all {

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:active {
    /* color: #000000; */
    text-decoration: none;
}

a:hover {
    color: #6060a0;
    background: #ffffff;
    text-decoration: underline;
}

img {
    border: 0;
}

.list-line-odd {
    background: #d0d0e0;
}

.list-line-even {
    background: #f0f0ff;
}

dh {
    background: #302050;
}

/* LAYOUTS */

body {
    margin: 0;
    padding: 0;
}

div#page {
    margin: 0;
    padding: 0;
}

div#header {
    font-size: 110%;
    font-family: "Trebuchet MS";
    color: #aad;
    background: #227;
    margin: 0;
    padding: 0;
}

div#footer {
    float: clear;
    text-align: center;
    border-top: 5px solid #aad;
    margin: 0;
    padding: 0;
}

div#navi {
    float: left;
    width: 150px;
    margin: 5px 0 0 5px;
    padding: 0;
}

div#main {
    margin-left: 155px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    width: 725px;

}



span.menu_folder {
    font-size: 80%;
}

span.month_year {
    font-size: 18pt;
    font-weight: bold;
}

span.month_month {
    font-size: 36pt;
    font-weight: bold;
}

span.month_name {
    font-size: 12pt;
    font-weight: bold;
}

span.day_year_month {
    font-size: 18pt;
    font-weight: bold;
}

span.day_day {
    font-size: 36pt;
    font-weight: bold;
}

span.day_day_sat {
    font-size: 36pt;
    font-weight: bold;
    color: #0000ff;
}

span.day_day_holi {
    font-size: 36pt;
    font-weight: bold;
    color: #ff0000;
}

span.day_wday {
    font-size: 12pt;
    font-weight: bold;
}

span.day_wday_sat {
    font-size: 12pt;
    font-weight: bold;
    color: #0000ff;
}

span.day_wday_holi {
    font-size: 12pt;
    font-weight: bold;
    color: #ff0000;
}

span.day_holiday {
    font-size: 12pt;
    font-weight: bold;
    color: #FF0000;
}

table.month_day {
    border-collapse: collapse;
    border: 0px;
}

td.day_num {
    font-size: 8pt;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

td.planmine_time {
    font-size: 7pt;
    width: 27px;
    margin: 0px;
    padding: 0px;
}

td.planmine {
    font-size: 7pt;
    text-align: left;
    margin: 0px;
    padding: 0px;
}

div.month_day {
    width: 100px;
    min-height: 80px;
    margin: 0px;
}

div.navi_schedule {
    font-size: 7pt;
}

table.tableline {
    border-collapse: collapse;
    empty-cells: show;
}

th {
    text-align: left;
    text-weight: bold;
    background: #E0E0E0;
}

/*
td {
    padding: 0px;
}
*/

span.title {
    color: #FFB030;
    font-size: 10pt;
    font-weight: bold;
}

span.holiday {
    color: #FF0000;
    font-size: 7pt;
}

span.holiday a {
    color: #FF0000;
    font-size: 7pt;
}

span.weekday {
    color: #000000;
    font-size: 7pt;
}

span.weekday a {
    color: #000000;
}

span.saturday {
    color: #0000FF;
    font-size: 7pt;
}

span.saturday a {
    color: #0000FF;
}

span.myfolder {
    color: #000000;
}

span.otherfolder {
    color: #0000ff;
}

th.label_sunday {
    color: #ff0000;
    text-align: center;
}

th.label_weekday {
    color: #000000;
    text-align: center;
}

th.label_saturday {
    color: #0000ff;
    text-align: center;
}

span.others {
    color: #6666d0;
}

span.others a {
    color: #6666d0;
}

div.gtd_project {
    background: #fed;
    margin: 0;
    padding: 5px;
}

div.gtd_desc {
    background: #fff;
}

}
